body {
  font-family: "Open Sans", sans-serif;
}

.register .caption p {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 21px;
}
a {
  color: #6001d2;
  font-weight: 600;
  font-style: italic;
}
.register .btn {
  background-color: #6001d2;
  color: #fff;
}
.form-control {
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-radius: 0;
}
.form-control:focus {
  box-shadow: 0 0 0 0 transparent;
  border-bottom: 1px solid #dee2e6 !important;
  border-color: transparent;
}

@media (max-width: 992px) {
  .row {
    flex-direction: column-reverse;
  }
  .row .image {
    margin: 3px auto;
  }
  .register {
    width: 100% !important;
  }
}

@media (max-width: 565px) {
  .buttons {
    width: 100% !important;
  }
}
